* {
  background-color: white;
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body h2 {
  font-size: 25px;
}

header {
  min-height: 200px;
}

header h1 {
 font-size: 30px;
  text-align: right;
  margin-top: 10px;
  float: top;
}

form {
  max-width: 300px;
}

.mapContainer {
  /* flex-wrap: flex; */
}

/* #locationSearch {
  width: 450px;
  border: 2px;
} */

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  float: bottom;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 400px;
  width: 100%;
}

.citationsTitle {
margin-top: 10px;
}

.citationsHead {
  margin-top: 41px;
}

.headIcon {
  max-height: 115px;
  width:490px;
}

#projectTitle {
display: block;
}

.container {
  flex-direction: column;
}