* {
  background-color: white;
  color: black;
}

body {
}

header {
  background-color: gray;
}

header h1 {
  size: 40px;
  text-align: right;
}

#locationSearch {
  width: 450px;
  border: 2px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  float: bottom;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 400px;
  width: 100%;
}
